/* From 1200px to 1650px */
@media only screen and (max-width: 1650px) {
  .hero-text-box {
    left: 13%;
  }
  h1 {
    font-size: 220%;
  }
}

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 19px;
  }
  .hero-text-box {
    left: 3%;
  }
  .row {
    padding: 0 2%;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .main-nav li a:link,
  .main-nav li a:visited {
    font-size: 76%;
  }
  .btn-app img {
    height: 40px;
  }
  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 10px;
  }
  .work-step {
    margin-bottom: 40px;
  }
  .work-step:first-child {
    margin-top: 20px;
  }
  .work-step:last-of-type {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 75%;
  }
  .icon-small {
    width: 17px;
    margin-right: 5px;
  }
  .city-feature {
    font-size: 90%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
  footer {
    padding: 20px;
    font-size: 75%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  header {
    height: 70vh;
  }
  .row {
    padding: 0 4%;
  }
  .hero-text-box {
    padding: 0 2%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .main-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: inline-block;
  }

  .main-nav {
    float: left;
    margin-top: 35px;
    margin-left: 0;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 95%;
  }

  h1 {
    font-size: 220%;
  }
  h2 {
    font-size: 140%;
  }
  .long-copy {
    width: 100%;
    margin-left: 0;
  }
  .work-step {
    margin-bottom: 20px;
  }
  .work-step:first-child {
    margin-top: 10px;
  }
  .work-step:last-of-type {
    margin-bottom: 30px;
  }
  .work-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
  }
  .steps-box:first-child {
    text-align: center;
  }
  .app-screen {
    width: 40%;
  }
  .footer-nav,
  .social-links {
    float: left;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  contact-form {
    width: 100%;
  }
}
