/* 
transition 0.5s
*/

/* ------------------------------------------- */
/*  BASIC SETUP */
/* ------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(250, 244, 244);
  color: #560000;
  font-family: "Taviraj", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}
/* ------------------------------------------- */
/* HEADINGS */
/* ------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(250, 244, 244);
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  line-height: 130%;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #560000;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------------------------------------------- */
/* PARAGRAPHS */
/* ------------------------------------------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------------------------------------------- */
/* ICONS */
/* ------------------------------------------- */

.icon-big {
  font-size: 350%;
  display: block;
  color: #560000;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #db0202;
  font-size: 120%;
  margin-right: 10px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -3px;
}

/* ------------------------------------------- */
/* BUTTONS */
/* ------------------------------------------- */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #560000;
  border: 3px solid #340000;
  color: rgb(250, 244, 244);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: rgb(250, 244, 244);
  border: 3px solid #340000;
  color: #340000;
}

.btn-signup:link,
.btn-signup:visited {
  background-color: #fff;
  border: 3px solid #340000;
  color: #340000;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #340000;
}

.btn-full:hover,
.btn-full:active {
  border: 3px solid #340000;
}

.btn-signup:hover,
.btn-signup:active,
.btn-ghost:hover,
.btn-ghost:active {
  border: 3px solid #340000;
  color: rgb(250, 244, 244);
}

/* ------------------------------------------- */
/* HEADER */
/* ------------------------------------------- */

header {
  background-image: url(img/hero.jpg), linear-gradient(#29323c, #485563);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  top: 35%;
  left: 22%;
  /* transform: translate(-105%, -50%); */
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 25px;
  filter: brightness(95%);
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: rgb(250, 244, 244);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 300;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid rgb(250, 244, 244);
}

/* ------------------------------------------- */
/* FEATURES */
/* ------------------------------------------- */

.section-features .long-copy {
  margin-bottom: 30px;
}
/* ------------------------------------------- */
/* BOTTLES */
/* ------------------------------------------- */

.section-bottles {
  padding: 0;
}

.bottles-showcase {
  list-style: none;
  width: 100%;
  font-size: 0;
}

.bottles-showcase li {
  display: block;
  float: left;
  width: 20%;
}

.bottle-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.bottle-photo img {
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: auto;
  transition: opacity 0.5s;
}

.bottle-photo img:hover {
  opacity: 1;
  border: 1px solid #560000;
}

/* ------------------------------------------- */
/* HOW IT WORKS */
/* ------------------------------------------- */

.section-steps {
  background-color: #faeeee;
}

.steps-box {
  margin-top: 30px;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  margin-top: 70px;
  text-align: left;
  padding-left: 3%;
}

.app-screen {
  width: 50%;
}

.work-step {
  margin-bottom: 50px;
}

.work-step:last-of-type {
  margin-bottom: 80px;
}

.work-step div {
  color: #560000;
  border: 2px solid #560000;
  display: inline-block;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------------------------------- */
/* CITIES */
/* ------------------------------------------- */

.section-cities img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
  margin-right: 10px;
}

.section-cities a:link,
.section-cities a:visited {
  text-decoration: none;
  color: #560000;
  padding-bottom: 2px;
  border-bottom: 1px solid #560000;
  transition: border-bottom 0.5s color 0.5s;
}

.section-cities a:hover,
.section-cities a:active {
  color: #340000;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}

.section-cities .city-feature:last-child:hover > .icon-small {
  color: #340000;
}

/* ------------------------------------------- */
/* TESTIMONIALS */
/* ------------------------------------------- */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)),
    url(img/back-customers.jpg);
  background-size: cover;
  color: rgb(250, 244, 244);
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  display: block;
  font-size: 90%;
  margin-top: 25px;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ------------------------------------------- */
/* PLANS */
/* ------------------------------------------- */

.section-plans {
  background-color: #faeeee;
}

.plan-box {
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  border-radius: 30px;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 300;
  color: #340000;
  box-shadow: 0 2px 2px #efefef;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}
.plan-price-bottle {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

.plan-box div:first-child {
  background-color: rgb(250, 244, 244);
  border-radius: 30px 30px 0 0;
}

.plan-box div:last-child {
  text-align: center;
  border: none;
  background-color: rgb(250, 244, 244);
  border-radius: 0 0 30px 30px;
}

/* ------------------------------------------- */
/* CONTACT FORM */
/* ------------------------------------------- */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

* :focus {
  outline: none;
}

/* ------------------------------------------- */
/* FOOTER */
/* ------------------------------------------- */

footer {
  background-color: #560000;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #faeeee;
  border-bottom: 1px solid transparent;
  transition: color 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: rgb(250, 244, 244);
  border-bottom: 1px solid rgb(250, 244, 244);
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twiiter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.5s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}
.ion-social-twitter:hover {
  color: #00aced;
}
.ion-social-googleplus:hover {
  color: #dd4b39;
}
.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #faeeee;
  text-align: center;
  margin-top: 20px;
}

/*check what causes white space on the right side */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
