/* 
transition 0.5s
*/

/* ------------------------------------------- */
/*  BASIC SETUP */
/* ------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(250, 244, 244);
  color: #560000;
  font-family: "Taviraj", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------- */

.row {
  max-width: 1740px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}
/* ------------------------------------------- */
/* HEADINGS */
/* ------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(250, 244, 244);
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  line-height: 130%;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #560000;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------------------------------------------- */
/* PARAGRAPHS */
/* ------------------------------------------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------------------------------------------- */
/* ICONS */
/* ------------------------------------------- */

.icon-big {
  font-size: 350%;
  display: block;
  color: #560000;
  margin-bottom: 10px;
}

/* ------------------------------------------- */
/* BUTTONS */
/* ------------------------------------------- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #560000;
  border: 3px solid #340000;
  color: rgb(250, 244, 244);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: rgb(250, 244, 244);
  border: 3px solid #340000;
  color: #340000;
}

.btn:hover,
.btn:active {
  background-color: #340000;
}

.btn-full:hover,
.btn-full:active {
  border: 3px solid #340000;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 3px solid #340000;
  color: rgb(250, 244, 244);
}

/* ------------------------------------------- */
/* HEADER */
/* ------------------------------------------- */

header {
  background-image: url(img/hero.jpg), linear-gradient(#29323c, #485563);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1740px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 150px;
  width: auto;
  float: left;
  margin-top: 165px;
  filter: brightness(95%);
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 65px;
}

.main-nav li {
  display: inline-block;
  margin-right: 80px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: rgb(250, 244, 244);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 300;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid rgb(250, 244, 244);
}

/* ------------------------------------------- */
/* FEATURES */
/* ------------------------------------------- */

.section-features .long-copy {
  margin-bottom: 30px;
}
/* ------------------------------------------- */
/* BOTTLES */
/* ------------------------------------------- */

.section-bottles {
  padding: 0;
}

.bottles-showcase {
  list-style: none;
  width: 100%;
  font-size: 0;
}

.bottles-showcase li {
  display: block;
  float: left;
  width: 20%;
}

.bottle-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.bottle-photo img {
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: auto;
  transition: opacity 0.5s;
}

.bottle-photo img:hover {
  opacity: 1;
}

/* ------------------------------------------- */
/* HOW IT WORKS */
/* ------------------------------------------- */

.section-steps {
  background-color: #faeeee;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.work-step {
  margin-top: 70px;
  margin-bottom: 50px;
}

.work-step p {
  padding-top: 10px;
}

.work-step div {
  color: #560000;
  border: 2px solid #560000;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 3px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 60px;
  width: auto;
  margin-top: 50px;
  margin-right: 10px;
}
